.filters {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.calls .table {
  padding: 0 12px 24px;
  background: var(--calls-bg);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 5px 0 #e9edf3;
}

.calls .header {
  border-bottom: 1px solid var(--border-color);
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}

.calls .header {
  padding: 12px 0 12px;
  color: var(--text-secondary);
  opacity: 0.87;
  font-size: 14px;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 100%;
  margin-left: -40px;
}
